section#copyright
	div.container
		div.row
			div.col-lg-12
				p= records.site.sitedata[0].footer


	!= js()


	<!-- Google Analytics -->
	script(type="text/javascript")
		!= records.site.sitedata[0].analytics


