if _path == "/index.html"
	header
		div.header-content
			div.header-content-inner
				h1 WEBRIQ CMS STARTER TEMPLATE
				hr
				p A modern responsive front-end framework based on<br> Bootstrap CSS framework!


