.container
	.navbar-header
		button.navbar-toggle.collapsed(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand.page-scroll(href='/')
			img(src= records.site.sitedata[0].logo)
	#bs-example-navbar-collapse-1.collapse.navbar-collapse
		ul.nav.navbar-nav.navbar-right
			li
				a.page-scroll(href='/') Home
			- each menuitem in records.menu.result
				li
					a.page-scroll(href= menuitem.url)= menuitem.item

