extends layout-new-general

block content

  #generalcontent
    .page.box-shadow
      .container

        h1.ttlegeneral
          | Business Advertising and Promotion

        p 
          | Having a highly effective website with engaging and relevant content and connectivity to your preferred social media platforms is going to go a long, long way to getting your business noticed and helping to raise awareness of what you have to offer. 
          br
          br
          | At Buzzin UK not only can we help you achieve all of this in an extremely cost effective way, we can also help you to Turbo Boost your promotional and marketing activities by featuring your business across a number of Buzzin City and Community sites. In addition by partnering with us we will share your blogs on all our social media accounts. In addition we will also post relevant business news on the Community section of our Buzzin sites.  For a free no obligation initial consultation contact me at 
          a(href="mailto:bob.wotherspoon@buzzin.today") bob.wotherspoon@buzzin.today

