extends layout-new-general

block content

  #generalcontent
    .page.box-shadow
      .container

        h1.ttlegeneral
          | Digital and Social Media Marketing Services 

        p 
          | This is where the real action is and opportunity lies to connect with your audience on-line. In the past few years due to advancements in mobile technology, an explosion in the use of social media platforms and a shift of power and behaviour of consumers being on-line.
          br
          br
          | In the past with traditional marketing, companies would focus on finding customers by various means from cold-calling and newspaper advertising to TV commercials and mail.
          br
          br
          | However technology is also making some of these activities less effective and therefore more expensive. Things like Caller ID blocks cold calls, On-Demand makes TV advertising less effective, and spam filters block mass emails. Although it is still possible to get a message out using these channels, but it costs a lot more.
          br
          br
          | On-line Digital and Social Media Marketing can help you to tap into the huge potential to connect with your potential clients. To find out more 
          a(href="#") download 
          | our free guide to Digital Marketing 
          a(here="#") here.

