extends layout

block content
	section#services
		div.container
			div.row
				div.col-lg-12.text-center
					h1.section-heading Services
					hr.primary

		div.container
			div.row
				div.col-lg-3.col-md-6.text-center
					div.service-box
						img(src="img/icon-1.jpg", data-wow-delay="0.1s").wow.bounceIn.text-primary
						h3 Services 1
						p.text-muted Our templates are updated regularly so they don't break.
				div.col-lg-3.col-md-6.text-center
					div.service-box
						img(src="img/icon-2.jpg", data-wow-delay="0.2s").wow.bounceIn.text-primary
						h3 Services 2
						p.text-muted You can use this theme as is, or you can make changes!
				div.col-lg-3.col-md-6.text-center
					div.service-box
						img(src="img/icon-3.jpg", data-wow-delay="0.3s").wow.bounceIn.text-primary
						h3 Services 3
						p.text-muted We update dependencies to keep things fresh.
				div.col-lg-3.col-md-6.text-center
					div.service-box
						img(src="img/icon-4.jpg", data-wow-delay="0.4s").wow.bounceIn.text-primary
						h3 Services 4
						p.text-muted You have to make your websites with love these days!