extends layout-new-general

block content

  #generalcontent
    .page.box-shadow
      .container

        h1.ttlegeneral
          | Website design and build 

        p To maximise your on-line presence and exposure it is vital to have a website that not only to showcases your products and services in the most effective way possible. It also must act alongside your other marketing and social media assets to promote and distribute relevant content to the audience you are aiming to connect with. Most modern website will need to meet the following criteria:

        .listservices
          .row
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/340671e83baf25d5fa00d27398a7b6eb687269d1/superfast.png', alt='')
              .text-body
                h2 Superfast
                p
                  | Your site will be served through a Content Delivery Network instead of a single server. That means much lower latency, much faster downloads and a near 100% uptime. If one of our servers goes down, another server takes over instantaneously.
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/78ffa73fe0ae5167691d39c1f313236d90b3b0c7/security.png', alt='')
              .text-body
                h2 Security
                p
                  | Your site has no movable parts, no database to connect to or scripts that need to be executed and there is no way to inject malware. Malware, outdated scripts, denial of service attacks are of the past.
          .row
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/cdd5351fe7abe080cd9a047680e315b6e95de8e0/simplicity.png', alt='')
              .text-body
                h2 Simplicity
                p
                  | No need to optimize your website for faster database queries or faster downloads. When the website is build, it is build. Changes in the Template and the Content will automatically trigger a new build. The entire process takes no more then 20 seconds.
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/b25dea0cd6597fce12435578feb313ad612e1350/cost-effective.png', alt='')
              .text-body
                h2 Cost
                p
                  | It is cheaper to build, to maintain and to scale if needed. It all happens automatically. No need to procure more bandwidth or larger hosting service than you need, and no need to cover for occasional traffic spikes. If not money, it will save you a lot of headaches.
          .row 
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/f3e7c5685ac6216c83755139ceb21537444d4128/user-experience3.png', alt='')
              .text-body
                h2 Kick-ass User Experience Designs
                p
                  | Since there is no need to set up and develop complex database structures for your website, all time is spent on User Experience designs and User Interface designs. That means repeat visits and visitor spending more time on your website.
            .col-md-6.col-sm-6.col-xs-12.text-center
              figure
                img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/static/a48e974ae8b8e33916dd82d0d663d171635dcae0/full-control4.png', alt='')
              .text-body
                h2 Full Control
                p
                  | Whether it is the code or the content of your website, you are always in full control on all elements of your website. At any time updates on code and content can be made, as well as rolling back to previously published versions.

