.list
	background #fff
	margin-bottom 15px

	p
		font-family $roboto
		font-size $font-size
		font-weight $font-weight
		color $font-color-paragraph
		letter-spacing $font-letter-spacing
		color $font-color-paragraph

	.list-heading
		padding 15px 35px
		h1
			a
				color $font-color-heading
		div
			display inline-block
			font-family "Montserrat"
			font-size 12px
			font-weight 400
			color $font-color-subheading
			letter-spacing 2px
			text-transform uppercase

			svg
				width 14px
				height 14px
				vertical-align middle
				margin-right 10px
				fill $font-color-heading

		.author
			width 25%
		.date
			width 40%
			text-align center

		.category
			width 35
			text-align right

	.list-share
		padding 15px 35px
		a.addthis_button_facebook
			svg
				fill #2979FF
		a.addthis_button_twitter
			svg
				fill #40C4FF
		a.addthis_button_linkedin
			svg
				fill #0077B5
		a.addthis_button_more
			svg
				fill #FF6550

	.list-thumbnail
		img
			width 100%

	.list-description
		padding 15px 35px

	.list-footer
		padding 15px 35px
		border-top 1px solid $border-color
		a
			font-weight 500
			color $font-color-heading
			text-transform  uppercase
.info
	.list-thumbnail
		img
			width auto
	.list-heading
		h5
			color $font-color-heading
.blog

	background $primary-color
	color #fff	

	.date
		font-size 12px
		text-transform uppercase
		letter-spacing: 2px;
		font-family: "Montserrat";
		a
			color #fff
		svg
			width 14px
			height 14px
			vertical-align middle
			margin-right 10px
			fill #fff

	.list-description
		padding-top 0px

	ul
		li
			margin-bottom 15px
			a
				font-family $font-stack
				font-weight 500
				color #fff
				margin-bottom 5px

.page
	ul
		li
			margin-bottom 15px

	h1,h2,h3,h4,h5,h6
		color $font-color-heading
