.info
	.list-thumbnail
		background $primary-color
		margin-bottom 30px

		img
			position relative
			top 45px
			border 2px solid #fff
			border-radius 100%
			padding 0

	.list-description
		hr
			width 50px
			border none
			height 1px
			background $primary-color
			margin-top 10px
			margin-bottom 15px
		p
			color rgba(0,0,0, .54)
			font-size 14px

.box-shadow
	box-shadow 0 1px 3px 0 rgba(0, 0, 0, .12)
	-webkit-box-shadow 0 1px 3px 0 rgba(0, 0, 0, .12)
	-webkit-transition box-shadow 200ms ease-in-out
	transition box-shadow 200ms ease-in-out
	&:hover
		box-shadow 0 14px 28px 0 rgba(0, 0, 0, .25)
		-webkit-box-shadow 0 14px 28px 0 rgba(0, 0, 0, .25)