.sidebar
	background linear-gradient(to left, $sidebar_color1 ,$sidebar_color2)
	
body .closebtn
	background transparent

#blogsec .news-item .blog-rightdet .short-desc .read-more a,
#copyright .container h4:after
	background $primary_color

#blogsec .news-item .blog-rightdet .published b:nth-child(2)
	color $primary_color

#more-blog .morelink a
	border-color $primary_color !important

/* Hero Text */

.hero-text
	padding 15px 55px
	color #fff
	h2
		font-family $font-stack
	h5
		font-family $roboto
		font-weight 400

#list-allblog 
	.short-desc 
		.read-more a
			background-color $primary_color

	.right-list 
		.more-ttle-head
			background-color $primary_color

.blogbody 
	#list-allblog 
		.published b:nth-child(3)
			color $primary_color

.sidenav-menu 
	li
		a
			font-size 15px
		a:hover
			color #fff !important