@media (max-width: 640px)
	.list
		.list-heading
			.author
				width 100%

			.date
				width 50%
				text-align left

			.category
				width 40%
				text-align left

@media (max-width: 480px)
	.list
		.list-heading
			.author
				width 100%

			.date
				width 100%
				text-align left

			.category
				width 100%
				text-align left
