.navigation-header
	.navbar-default
		background #fff
		a
			color #333 !important
		.navigation-menu
			margin-top 15px

		ul
			margin-top 20px

	.closebtn:after
		display none

	.closebtn:hover
		background-color transparent

	.logonav
		img
			width auto

	ul.sidenav-menu
		margin-top 55px
		li
			border none !important
			a
				font-family $font-stack
				font-size 12px
				text-transform uppercase
				letter-spacing 2px

	.credentials_nav
		a:hover
			padding 0px !important
			background transparent

	.resrv
		font-size 12px

.sidenav
	background #111

.sidenav-overlay
	background rgba(41, 121, 255, 0.9)

