// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Roboto:300,400');

// Font stacks (add your own!)

$montserrat = "Montserrat", sans-serif;
$roboto = "Roboto", sans-serif;

// Default font settings
$font-stack = $montserrat
$font-size = 16px
$font-letter-spacing = 0
$font-weight = 400
$font-color-heading = rgba(0,0,0, .87)
$font-color-subheading = rgba(0,0,0, .75)
$font-color-paragraph = rgba(0,0,0, .75)

// Sidebar color:

$primary-color = #2979FF
$sidebar_color1 = #1b5d5f
$sidebar_color2 = #044042

// Custom image base path for axis mixins
$img-path = '/img/'

$border-color = rgba(0,0,0,.12)

