html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #03a9f4;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-bottom:0px;
    border-radius:0px;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #039be5;

}
.navbar-default .navbar-header .navbar-brand  img{

  margin-top:4px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255,255,255,.7);
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
        font-weight:400;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

body .main{
    padding:160px 0px 160px 0px;
    background: url(../img/dummybg.JPG) no-repeat center bottom;
    background-size:cover;
    position:relative;

}
body .main::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  z-index: 0;
}
body .main header{
    padding:200px 0px 100px 0px;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;

}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index:1;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

/*---------------------------------------
   2.9 SECTION: PRICING TABLE
-----------------------------------------*/
.white-bg{
    background-color:#ffffff;
}
.pricing {
  padding-top: 114px;
  padding-bottom: 150px;
}
.price-circle-red {
  background: #fc5f45;
  width: 106px;
  height: 106px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px 3px #fc5f45;
}
.price-circle-red h4 {
  margin-bottom: 5px;
  margin-top: 23px;
  line-height:1.4;
  font-weight:600;
  font-size:24px;
  color:#fff;
}
.price-circle-red .extra-small-text {
  line-height: 0.6;
  color:#fff;
}
.price-circle-green {
  background: #38c695;
  width: 106px;
  height: 106px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px 3px #38c695;
  text-align: center !important;
}
.price-circle-green h4 {
  margin-bottom: 5px;
  margin-top: 23px;
  line-height:1.4;
  font-weight:600;
  font-size:24px;
  color:#fff;
}
.price-circle-green .extra-small-text {
  line-height: 0.6;
  color:#fff;
}
.price-circle-purple {
  background: #b27cf5;
  width: 106px;
  height: 106px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px 3px #b27cf5;
}
.price-circle-purple h4 {
  margin-bottom: 5px;
  margin-top: 23px;
  color:#fff;
  line-height:1.4;
  font-weight:600;
  font-size:24px;
}
.price-circle-purple .extra-small-text {
  line-height: 0.6;
  color:#fff;
}

.packages .single-package {
  margin-top: 51px;
  padding-bottom: 12px;
  text-align:center;
}
.packages .single-package h5 {
  margin-top: 27px;
  margin-bottom: 22px;
  font-size:20px;
}
.packages .single-package .feature-list {
  margin-top: 25px;
  padding-left:0px;
}
.packages .single-package .feature-list li {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style:none;
  font-size:16px;
}
.packages .single-package .feature-list li .icon {
  margin-right: 5px;
}

/*---------------------------------------
   1.7 BUTTONS
-----------------------------------------*/
.standard-button {
  padding: 0 40px 0 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 50px;
  border: none;
  box-shadow: none;
}
.red-button {
  color: #ffffff;
  background: #fc5f45;
}
.red-button:hover,
.red-button:active,
.red-button:active:hover,
.red-button:focus:hover,
.red-button:focus {
  background-color: #f34123;
  color: #ffffff;
  outline: none;
}
.red-outline {
  color: #fc5f45;
  background: #fff;
  border: 2px solid #fc5f45;
  line-height: 46px;
  padding: 0 38px 0 38px;
}
.red-outline:hover,
.red-outline:active,
.red-outline:active:hover,
.red-outline:focus:hover,
.red-outline:focus {
  background-color: #fc5f45;
  color: #ffffff;
  outline: none;
  border: 2px solid #fc5f45;
}
.green-button {
  color: #ffffff;
  background: #38c695;
}
.green-button:hover,
.green-button:active,
.green-button:active:hover,
.green-button:focus:hover,
.green-button:focus {
  background-color: #17bb82;
  color: #ffffff;
  outline: none;
}
.green-outline {
  color: #38c695;
  background: #fff;
  border: 2px solid #38c695;
  line-height: 46px;
  padding: 0 38px 0 38px;
}
.green-outline:hover,
.green-outline:active,
.green-outline:active:hover,
.green-outline:focus:hover,
.green-outline:focus {
  background-color: #38c695;
  color: #ffffff;
  outline: none;
  border: 2px solid #38c695;
}
.purple-button {
  color: #ffffff;
  background: #b27cf5;
}
.purple-button:hover,
.purple-button:active,
.purple-button:active:hover,
.purple-button:focus:hover,
.purple-button:focus {
  background-color: #954fed;
  color: #ffffff;
  outline: none;
}
.purple-outline {
  color: #b27cf5;
  background: #fff;
  border: 2px solid #b27cf5;
  line-height: 46px;
  padding: 0 38px 0 38px;
}
.purple-outline:hover,
.purple-outline:active,
.purple-outline:active:hover,
.purple-outline:focus:hover,
.purple-outline:focus {
  background-color: #b27cf5;
  color: #ffffff;
  outline: none;
  border: 2px solid #b27cf5;
}

/*---------------------------------------
   1.5 LINES, SHADOW & GRADEINTS
-----------------------------------------*/
.red-line-top {
  border-top: 3px solid #fc5f45;
}
.green-line-top {
  border-top: 3px solid #38c695;
}
.purple-line-top {
  border-top: 3px solid #b27cf5;
}
.diffuse-shadow {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}

